#ignore normal i3-config file, for reference they are created by shell script with cat from base i3 config + device specific config file, check ~/.bashrc for aliases 
.config/i3/config
 #its just a symlink:
.config/i3/config.extra
*.swp
*.log
*.AppImage
org/*.el$
dwm/nohup.out
!org/$
!org/*.org$
!.emacs.d/init.el$
!.emacs.d/resources$
!.emacs.d/snippets$
*~
[#]*[#]
.\#*
dmw/network_touch.txt
dmw/package_file.txt
dwm/network_touch.txt
.config/gtk-3.0/bookmarks  
.dotfile_tag
ai/llama.cpp/models/*
ai/whisper.cpp/models/*
ai/whisper.cpp/audio/*
