[user]
	email = maxwellodri@gmail.com
	name = Maxwell Odri
[init]
	defaultBranch = main
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[core]
	excludesFile = /home/maxwell/source/dotfiles/.globalgitignore
[remind]
  paths = /home/maxwell/source
