[Unit]
Description=Remap keyboard keys

[Service]
Type=simple
User=maxwell
ExecStart=/home/maxwell/bin/keyboard_remap.sh
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
