[Unit]
Description=Neovim/Neovide Server Runner Daemon
After=default.target

[Service]
ExecStart=/usr/bin/python3 /home/maxwell/source/dotfiles/dwm/neovim-server-runner.py --daemon
Restart=on-failure
WorkingDirectory=/home/maxwell/source/dotfiles/dwm/
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
