#main-window #titlebar {
    overflow: hidden;
    transition: height 0.3s 0.3s !important;
}

/* Hidden state: Hide native tabs strip */
#main-window[titlepreface*=" "] #titlebar { height: 0 !important; }

/* Hidden state: Fix z-index of active pinned tabs */
#main-window[titlepreface*=" "] #tabbrowser-tabs { z-index: 0 !important; }

#alltabs-button { display: none !important; }

/* Hide window controls (using dwm) */
.titlebar-buttonbox-container { display: none !important; }

/* Remove draggable spacers around tabs */
.titlebar-spacer[type="pre-tabs"] { display: none !important; }
.titlebar-spacer[type="post-tabs"] { display: none !important; }



/* Dim unlaoded tabs slightly */
.tabbrowser-tab[pending] .tab-content {
  opacity: 0.6;
}

/* Add a "zzz" or sleep icon before the favicon using a pseudo-element for unloaded tabs */
.tabbrowser-tab[pending] .tab-icon-image {
  position: relative;
}

.tabbrowser-tab[pending] .tab-stack::before {
  content: "💤";
  font-size: 8px;
  position: absolute;
  top: 2px;
  left: -2px;
  z-index: 10;
  line-height: 1;
  pointer-events: none;
}

/* tint unloaded tab label text */
.tabbrowser-tab[pending] .tab-label {
  color: #888 !important;
  font-style: italic;
}
